body {
    background-color: #e0c777;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}
h2 {
    color: rgb(0, 0, 0);
}
p {
    color: rgb(8, 1, 1);
}
ol{
    color: rgb(160, 20, 113);
}
dt{
    color: rgb(196, 13, 0);
    font-size: large;
}