body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: #f0f0f0;;
}

h1{
    text-align: center;
    margin-bottom: 1em;
}

h2{
    margin-bottom: 0.5em;
}
header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(83, 81, 124) 0%, rgba(9,72,121,1) 35%, rgba(0,212,255,1) 100%);
}
caption{
    background-color: aquamarine;

}
article{
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 5px;

}
input{
    background-color: rgb(150, 172, 197);
    border-bottom: 1px solid rgb(14, 1, 1);
    border-radius: 0px;
    color:rgb(26, 4, 4);
    outline: none;

}
input{
    border-radius: 10px;
    border:0px;
    outline: none;
    border-bottom: 1px solid black;
}
::placeholder{
    color:rgb(14, 13, 13);
    font-style: italic;
    font-size: 14px;
}
input[type="password"]::placeholder{
    color: black;
}
input[type="text"]::placeholder{
    color: black;
}
#txtNombres::placeholder{
    color: black;
    
}